<div class="row">
  <div class="col text-center">
    <img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.freeiconspng.com%2Ffree-images%2Ferror-icon-25252&psig=AOvVaw0fXHEPkK0Th-yd42ypJhKC&ust=1584062589334000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCNCk95Tjk-gCFQAAAAAdAAAAABAD">

    <h1 class='mt-5'>Whoops.  Something went wrong.</h1>
    <p><a href="/" class="btn btn-primary">Go Home</a></p>
  </div>
</div>