<h2>
	<i class="fas fa-coffee"></i>
</h2>
<h1>Tell us about <%= @shop[:name] %></h1>

<form action="/shops/<%= @shop[:id] %>/attend/create">
	<div class="form-group">
		<label>Have you been to <%=@shop[:name]%></label>
		<select class="form-control" name="attend">
      <option value="1">Yes</option>
      <option value="0">No</option>
    </select>
	</div>



	<div class="form-group">
		<label>How would you rate <%=@shop[:name]%> (out of 5)?</label>
		<input type="number" id="rating" name="rating" min="0" max="5">
        </div>

		<div class="form-group">
			<label>Comments</label>
			<textarea class="form-control" rows="3" name="comments"></textarea>
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
</form>