
h1, .h1 {
    font-size: 50px;
    font-family: Spartan, Raleway;
    color: #873600;
}


/* .navbar .navbar-light {
padding-top: 0.2rem;
padding-right: 0rem;
padding-bottom: 0.5rem;
padding-left: 0rem;
width: 100%;
} */

.navbar, .navbar-light {
padding-top: 0.2rem;
padding-right: 0rem;
padding-bottom: 0.5rem;
padding-left: 0rem;
width: 100%;
}

.mt-5, .my-5 {
margin-top: 0px;
}

.mr-auto, .mx-auto {
    margin-left: 15px;
}

.ml-auto, .mx-auto {
    margin-right: 15px;
}

.container-fluid {
    width: 100%;
    padding-right:0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.container, .mt-5 {
    width: 100%;
    padding-right: 0px;
    padding-left: px;
    margin-right: 5px;
    margin-left: 5px;
    max-width: 2000px;
}

.container .mt-5 {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    max-width: 2000px;
}

footer{
    background-color:#F2F3F4;
    position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
}


body {
  min-height: 100vh;
  position: relative;
  margin: 0;
  padding-bottom: 25px; 
}