
h1 {
    font-size: 50px;
    text-align: center;
    font-family: Spartan, Raleway;
    color: blue;
}


.navbar .navbar-light {
padding-top: 0rem;
padding-right: 0rem;
padding-bottom: 0.5rem;
padding-left: 0rem;
width: 100%;
}

.mt-5, .my-5 {
margin-top: 0px;
}

.container-fluid {
    width: 100%;
    padding-right:0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    max-width: 2000px;
}